/* Estilos globales para el popup con efecto Glassmorphism */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(255, 242, 0, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(195, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgba(40, 58, 255, 0.4);
  }
  
  .controls {
    margin-top: 20px;
  }
  
  .control-group {
    margin-bottom: 15px;
  }
  
  .control-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  input[type="range"] {
    width: 100%;
  }
  
  input[type="color"] {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Clase para ocultar los controles cuando no están activos */
  .hidden {
    display: none;
  }
